In [27]:
import pandas as pd
import psycopg2 as pg

In [28]:
con = pg.connect(
        host="localhost",
        dbname="reserva_restaurante",
        user="postgres",
        password="belezabr",
        port="5432"
    )

In [29]:
email = "seila@gmail.com"
nome = "marcelo"
senha = "bomdade"
data_nascimento = "1997-09-20"

In [30]:
cursor = con.cursor()

In [31]:
cursor.execute('INSERT INTO usuario (email, nome, senha, data_nascimento) VALUES (%s, %s, %s, %s)', 
                       (email, nome, senha, data_nascimento))

In [32]:
con.commit()

In [33]:
cursor.execute('select * from usuario;')
cursor.fetchall()

[('exemplo@email.com',
  'João Silva',
  'senha_secreta',
  datetime.date(1990, 5, 15)),
 ('exemplo3@email.com', 'Leticia', 'paris123', datetime.date(1999, 9, 22)),
 ('joacas@gmail.com', 'Joaquim', 'belezabr', datetime.date(2005, 8, 18)),
 ('joacas123@gmail.com', 'Joacas', 'galera123', datetime.date(1999, 9, 9)),
 ('ruim@gmail.com', 'William', 'ruindade', datetime.date(1987, 4, 17)),
 ('seila@gmail.com', 'marcelo', 'bomdade', datetime.date(1997, 9, 20))]

In [34]:
try:
    cursor.execute('INSERT INTO usuario (email, nome, senha, data_nascimento) VALUES (%s, %s, %s, %s)', 
                       (email, nome, senha, data_nascimento))
    con.commit()
    print('Sucesso"')
except:
    cursor.execute('ROLLBACK')
    print('Fail"')

Fail"

In [35]:
cursor.close()
con.close()

In [36]:
import sqlalchemy
from sqlalchemy import create_engine

In [37]:
con2 = ('postgresql://postgres:belezabr@localhost:5432/reserva_restaurante')
sqlalchemy.create_engine(con2)

Engine(postgresql://postgres:***@localhost:5432/reserva_restaurante)

In [38]:
query = 'SELECT * FROM Usuario'
df = pd.read_sql_query(query, con2)

In [39]:
df

                 email        nome          senha data_nascimento
0    exemplo@email.com  João Silva  senha_secreta      1990-05-15
1   exemplo3@email.com     Leticia       paris123      1999-09-22
2     joacas@gmail.com     Joaquim       belezabr      2005-08-18
3  joacas123@gmail.com      Joacas      galera123      1999-09-09
4       ruim@gmail.com     William       ruindade      1987-04-17
5      seila@gmail.com     marcelo        bomdade      1997-09-20